/* Main CSS */

html 
{
    font-family: "cinzel_decorativeregular", "Times New Roman", Times, serif;
}

header
{
    font-size: 3rem;
    text-align: center;
    
}

body
{
    
}

footer
{
    display: grid;
    justify-content: space-around;
    background-color: white;
    grid-column: 1 / 3;
    padding: 10px;
}

h2 {
    text-align: center;
    font-size: 4rem;
}

a 
{
    text-decoration: none;
    color: red;
}

a:hover
{
    color: lightgray;
}

a:active
{
    color: lightgray;
}


/* Classes */

.main-logo
{
     width:50%;
     height: auto;
     
}

.wizard-hat-logo
{
    margin: auto;
    width: 75px;
    height: auto;
}

.video-1
{
    border-style: solid;
    border-color: black;
    border-radius: 7px;
    border-width: 5px;
    width: 75%;
    height: auto;
}

.sec-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.content {
    display: grid;
    grid-template: repeat(3, auto) / 1fr auto;
    font-size: 2rem;
    min-width: 400px;
}

.sword-img {
    width: 10rem;
}

.g-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.g-col {
    flex: 40%;
    max-width: 40%;
    margin: 7.5px;
}

.g-col img {
    width: 100%;
    vertical-align: middle;
    border: solid black 4px;
    margin-top: 7.5px;
}

.img-cont {
    position: relative;
}

.ov-img {
    opacity: 1;
    transition: 0.5s ease;
    display: block;
}

.middle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.img-cont:hover .ov-img {
    opacity: 0.3;
}

.img-cont:hover .middle {
    opacity: 1;
}

.ov-txt {
    color: black;
    font-family: 'cinzel_decorativebold';
    font-size: 5vw;
}

.sb-ig-icon, .sb-fb-icon {
    font-size: 4rem;
    padding: 5px;
}

.sb-ig-icon:hover {
    color: lightgray;
}

.sb-fb-icon:hover {
    color: lightgray;
}


/* IDs */

.nav-bar {
    background: black;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    position: relative;
    font-size: 2rem;
}

#nav-bar-container {
    z-index: 1;
}


.logo-banner {
    display: flex;
    background: black;
    justify-content: center;
}

#video-front
{
    background-color: white;
    display: grid;
    place-items: center;
    padding: 15px;
}

#gallery-front
{
    grid-column: 1 / 3;
    background-color: #f3f3f3;
    padding: 10px;
    justify-content: center;
}

.nav-menu
{
    background: black;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 10px 20px 10px;
    position: relative;
    font-size: 2rem;
}

.nav-container {
    background: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 120px;
}

#sidebar-front
{
    grid-column: 1 / 3;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container {
    display: flex;
    width: 30%;
    justify-content: center;
}

#footer-legal
{
    font-size: 1rem;
}

.theHeader {
    color:black;
    font-size: 2rem;
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .nav-bar a {
        display: none;
    }

    .nav-bar a.nav-icon {
        display: block;
    }

}

@media screen and (max-width: 600px) {

    .nav-bar.responsive {
        position: relative;
        
    }

    .nav-bar.responsive .icon {
        position: relative;
    }

    .nav-bar.responsive a {
        display: block;
    }
    
}